/*/*
/******************************************************
              Общие установки и подсветка
******************************************************/

/* подсветка */
/*
body > *, body > * > *, body > * > * >*, body > * > * >* > * {
  background: rgba(200,200,10,0.2);
}
*/
.outline {
  /*background: rgba(200,100,10,0.2);*/
  outline: 1px solid red;
}

/* подключение иконочного шрифта */

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

/* reset */

div, nav, section,
p, ul {
 /* padding: 0;
  margin: 0;*/
  outline: 1px solid red;
}

li {
  list-style: none;
}

img {
  border: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

/* общие */

body {
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 13px;
  color: #000000;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #32425c;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0;
}

.btn {
  box-sizing: border-box;
  display: block;
  min-width: 20px;
  padding: 10px;
  background: #ee3643;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 14px;
}

.btn:hover {
  background: #ca2c37;
}

.btn:active {
  background: #ba2732;
}

.new:after {
  content: "new";
  position: absolute;
  display: table;
  font-size: 13px;
  top: 5px;
  right: -30px;
  padding: 5px 40px;
  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg);
  z-index: 60;
}


/******************************************************

                         СЕТКИ

******************************************************/

/* общие */

.container {
  box-sizing: border-box;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}



/* header */

.header-bottom-part {
  padding: 46px 0;
  background: #f1f5f7;
}

.header-center {
  padding-bottom: 18px;
}

.nav-header-main {
  margin-top: 22px;
}

.nav-header-main ul {
  min-height: 60px;
}

/* main */

.main-index {
  background: #ffffff;
  margin: 0;
  padding-top: 60px;
}

.promo-left {
  float: left;
  width: 620px;
}

.promo-right  {
  float: right;
  width: 300px;
}

.popular-products {
  margin-top: 53px;
}

.popular-brands {
  margin-bottom: 64px;
}

.service {
 padding-top: 60px;
 padding-bottom: 100px;
 background: #f2f6f8;
}

.about {
  /*min-height: 534px; */
  padding-top: 50px;
  padding-bottom: 87px;
}

/* catalog */

.products-sort-box  {
  float: left;
  width: 220px;
}

.products-class-box  {
  float: right;
  width: 700px;
}



/******************************************************

          ВНУТРЕННЕЕ РАСПОЛОЖЕНИЕ БЛОКОВ

                        Header

******************************************************/

/* header - верхняя строка */

.header-main {
  /*background: #f2f6f8;*/
  font-family: "Cuprum", Arial, sans-serif;
}

.logo-main,
.header-search
 {
  float: left;
  /*размер указан ниже*/
}

.header-top-menu,
.header-top-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background: #293449;
}

.logo-main a {
  display: block;
  font-size: 24px;
  width: 220px;
  height: 40px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 2px;
  box-shadow: 0 4px 0 0 #b52933;
}

.logo-main a:hover {
  background-color: #ca2c37;
  box-shadow: 0 4px 0 0 #9a212a;
}

.logo-main a:active {
  background-color: #ba2732;
  box-shadow: 0 4px 0 0 #8e1e26;
}

/* header - верхняя строка - поиск */

.header-search {
  float: left;
  width: 270px;
}

.header-search input {
  width: 270px;
  height: 42px;
  margin: 0;
  padding-left: 49px;
  line-height: 32px;
  color: #ffffff;
  border: none;
  background: transparent;
}

.header-search input:hover{
  background: #212a3a;
}

.header-search input:focus {
  background: #ffffff;
  color: #000000;
  outline: none;
}

.header-search > label {
  position: relative;
}

.header-search label:before {
  position: absolute;
  display: block;
  top: -30px;
  left: -120px;
  color: #ffffff;
  opacity: 0.3;
}

.header-search input:hover + label:before {
  opacity: 1;
}

.header-search input:focus + label:before {
  color: #ee3643;
  opacity: 1;
}

/* header - верхняя строка - кнопки закладок, корзины и заказа */

.header-order {
  float: right;
  width: 450px;
  font-size: 0;
}

.header-order a {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  width: 150px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

.header-order .icon-basket {
  padding-left: 33px;
  padding-right: 14px;
}

.header-order .icon-bookmark {
  padding-left: 31px;
  padding-right: 14px;
}

/* псевдоэлементы ленточка и корзина*/
.icon-basket:before,
.icon-bookmark:before {
  position: absolute;
  display: block;
  top: 12px;
  left: 13px;
  color: #ffffff;
  opacity: 0.3;
}

.header-order a:hover {
  background: #212a3a;
}

.header-order a:active {
  background: #161d29;
}

.header-order a:hover:before {
   opacity: 1;
}

.header-order a.btn-for-order-header {

  background-color: #63a63e;
}

.header-order a.btn-for-order-header:hover {
  background-color: #5fbb2d;
}

.header-order a.btn-for-order-header:active {
  background-color: #518534;
}


/* header - средняя строка (tagline) */

.header-center {
  font-family: "Cuprum", Arial, sans-serif;
}

.header-tagline {
  float: left;
  width: 220px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  margin-left: 51px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  text-transform: none;
}

.header-contact {
  float: left;
  width: 270px;
  margin-left: 50px;
  text-align: center;
}

.header-tel {
  position: relative;
  color: #e9292a;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
  padding-left: 17px;
}

.header-tel:before {
  position: absolute;
  left: 6px;
  color: #bfc6ce;
}

.header-adress {
  margin: 0;
  margin-top: 9px;
  font-size: 14px;
}

.header-account {
  float: right;
  width: 300px;
  min-height: 20px;
  font-size: 0;
  text-align: right;
}

.btn-enter,
.btn-registration {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  background: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 18px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 14px;
  text-decoration: none;
  text-align: center;
}

.btn-enter {
  width: 122px;
  margin-right: 10px;
  padding-left: 19px;
}

.btn-enter:before {
  position: absolute;
  top: 12px;
  left: 9px;
  color: #c5c5c5;
}

.btn-registration {
  width: 150px;
}

.btn-enter:hover,
.btn-registration:hover {
  color: #ee3643;
}

.btn-enter:hover:before {
  opacity: 1;
  color: #32425c;
}

.btn-enter:active,
.btn-enter:active:before,
.btn-registration:active {
  color: #c5c5c5;
}

.btn-login {
  position: relative;
  display: block;
  padding: 13px 0;
  padding-left: 48px;
  text-align: left;
  background: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  outline: 1px solid red;
}

.btn-login.icon-user:before,
.btn-login.icon-logout:after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}

.btn-login.icon-user:before {
  left: 11px;
  font-size: 18px;
}

.icon-logout:after {
  content: "\241b";
  right: 9px;
  font-size: 22px;
}

.my-orders,
.my-account {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 0;
  padding-left: 19px;
  padding-right: 13px;
  outline: 1px solid red;
}

.login-additional {
  text-align: left;
}

.my-orders:before {
  content: "●";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 8px;
  right: -21px;
  font-size: 10px;
  color: #32425c;
}

/* header - навигация */

.nav-item {
  float: left;
  min-width: 100px;
}

.nav-header-main {
  text-align: center;
}

.nav-header-main ul {
  padding: 0;
}

.nav-item a {
  box-sizing: border-box;
  display: block;
  padding: 19px 30.7px;
  background: #32425c;
  border-bottom: 5px solid #293449;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
}

.nav-item a:hover {
  background: #293449;
}

.nav-item a:active {
  background: #1d2739;
  border-bottom: 5px solid #1d2739;
}

.nav-item:first-child a {
  padding-left: 50px;
}

.nav-item:last-child a {
  padding-right: 52px;
}


/**************************************************

        основное содержимое страницы

**************************************************/

/* main - promo */

.section-card {
  box-sizing: border-box;
  position: relative;
  width: 300px;
  /*min-height: 123px;*/
  padding: 27px 23px;
  padding-bottom: 23px;
  margin-bottom: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  overflow: hidden;
}

.card-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
}

.card-btn {
  width: 135px;
  margin-top: 15px;
  padding: 10px;
  background: rgba(0,0,0,0.1);
  font-size: 14px;
  line-height: 18px;
}

.card-btn:hover {
  background: rgba(0,0,0,0.2);
}

.card-btn:active {
  background: rgba(0,0,0,0.3);
}

.promo-left .section-card:first-child {
  float: left;
  /* размер укaзан выше*/
}

.promo-left .section-card:nth-child(2) {
  float: right;
}

.promo-right .section-card:last-child {
  margin-bottom: 0;
}

/* main - slider */

.slider-promo-box {
  position: relative;
  clear: both;
  width: 621px;
  height: 266px;
}

.slider-promo-label,
.slider-promo-indicator {
  position: absolute;
  z-index: 30;
  cursor: pointer;
}

.slider-promo-label:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  z-index: 20;
}

.promo-label-left:before {
  transform: rotate(-45deg);
  top: 15px;
  left: 28px;
}

.promo-label-right:before {
  transform: rotate(135deg);
  top: 15px;
  right: 26px;
}

.slider-promo-sl {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 266px;
  padding: 25px;
}

.slider-promo-sl-1 {
  position: absolute;
  z-index: 10;
}

#slider-promo:checked + .slider-promo-inner > .slider-promo-sl-1 {
  display: none;
}

.slider-btn {
  position: absolute;
  width: 195px;
  bottom: 22px;
  left: 25px;
  z-index: 30;
}

.slider-promo-label {
  width: 100px;
  height: 58px;
  top: 105px;
}

.promo-label-right {
  right: 0px;
}

.slider-promo-indicator {
  bottom: 36px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: #ee3643;
}

.promo-indicator-1 {
  left: 295px;
}

.promo-indicator-2 {
  left: 315px;
}

#slider-promo:checked + .slider-promo-inner >  .promo-indicator-2,
#slider-promo + .slider-promo-inner >  .promo-indicator-1 {
    background: #ee3643;
}

#slider-promo:checked + .slider-promo-inner >  .promo-indicator-1,
#slider-promo + .slider-promo-inner >  .promo-indicator-2 {
    background: #ffffff;
}

.slider-promo-sl h4 {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.slider-promo-sl p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  margin-top: 5px;
}

/* main - заголовки (popular) */

.products-class-header {
  width: 940px;
  margin-bottom: 21px;
  padding: 30px 28px;
  background: #f2f6f8;
}

.products-class-header h1 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.04em;
}

.popular-top {
  margin-bottom: 20px;
  padding: 25px 25px;
  background: #f7f3ec;
}

.popular-top h2 {
  float: left;
  min-width: 550px;
  font-size: 30px;
  line-height: 130%;
}

.btn-more {
  float: right;
  width: 253px;
}

/* карточки продуктов */

.product-cards {
  margin-left: -21px;
  font-size: 0;
}

.product-card {
  box-sizing: border-box;
  position: relative;
  width: 219px;
  min-height: 318px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  background: #ffffff;
  margin-left: 21px;
  margin-bottom: 21px;
}

.product-description {
  padding: 0 10px;
  padding-top: 2px;
  margin-bottom: 22px;
}

.product-description > * {
  position: relative;
  display: block;
  width: auto;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  word-wrap: break-word;
  -outline: 1px solid red;
}

.product-img-box {
    overflow: hidden;
}

.product-name {
  min-height: 40px;
  font-size: 18px;
  line-height: 20px;
  margin-top: 26px;
  margin-bottom: 11px;
  padding: 0;
}

.product-old-price {
  min-height: 20px;
  color: #999999;
  text-decoration: line-through;
}

.product-new-price {
  position: relative;
  width: 80px;
  margin: 8px auto;
  padding: 10px 28px;
  background: #ee3643;
  color: #ffffff;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}

.product-new-price:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  border: 19px solid #ffffff;
  border-left: 19px solid #ee3643;
  border-right: none;
}

.btns-card {
  display: none;
  position: absolute;
  min-height: 135px;
  padding-top: 43px;
  width: 100%;
  text-align: center;
  background: #ffffff;
  z-index: 10;
}

.btn-card-bookmarks,
.btn-card-bay {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 8px;
  width: 135px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.btn-card-bay {
  background: #63a63e;
  border-bottom: 4px solid #367315;
  padding-top: 10px;
}

.btn-card-bay:hover {
  background: #5fbb2d;
}

.btn-card-bay:active {
  background: #367315;
}

.btn-card-bay:before {
  position: absolute;
  left: 12px;
  opacity: 0.3;
}

.btn-card-bay:hover:before,
.btn-card-bay:active:before {
  opacity: 1;
}

.btn-card-bookmarks {
  background: #ffffff;
  border: 3px solid #63a63e;
  color: #32425c;
  padding-top: 7px;
}

.btn-card-bookmarks:hover {
  background: #ffffff;
  border: 3px solid #32425c;
}

.btn-card-bookmarks:active {
  background: #ffffff;
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.product-card:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
}

.product-card:hover > .btns-card {
  display: block;
  background-color: #ffffff;
}


/* main - brands */

.brand-card {
  font-size: 0;
}

.brand-link {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  min-height: 144px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 140px;
}

.brand-link:nth-child(4n) {
  margin-right: 0;
}

.brand-link img {
  vertical-align: middle;
}

.brand-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
}

.brand-link:active {
  box-shadow: 0 4px 10px 0 rgba(41,52,73,0.5);
}

.brand-link:active img {
  opacity: 0.3;
}


/* services  */

.service-top {
  margin-bottom: 70px;
}

.service-top h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

.service-top p {
  line-height: 24px;
  margin: 0;
}

.service-menu {
  float: left;
  width: 235px;
  height: 183px;
}

.service-label {
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: -235px;
  padding-left: 23px;
  width: 240px;
  height: 61px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  line-height: 55px;
  vertical-align: middle;
  font-size: 21px;
  color: #ffffff;
  cursor: pointer;
}

.service-label:hover {
  background: #293449;
}

.service-label-1 {
  top: 0;
}

.service-label-2 {
  top: 61px;
}

.service-label-3 {
  top: 122px;
}

#service-1:checked ~ .service-label-1,
#service-2:checked ~ .service-label-2,
#service-3:checked ~ .service-label-3 {
  background: #ffffff;
  color: #000000;
  border: none;
}

.service-display {
  float: left;
  width: 600px;
  padding-left: 86px;
  position: relative;
}

.service-display:before  {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 280px;
  top: -50px;
  left: 4px;
  background: #f2f6f8;
  z-index: 60;
}

.service-display:after  {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 260px;
  top: -40px;
  left: 4px;
  border-radius: 50%;
  z-index: 50;
  box-shadow: 3px 0 20px 0 #000000;
}

.service-main {
  display: none;
  position: relative;
}

#service-1:checked + .service-main,
#service-2:checked + .service-main,
#service-3:checked + .service-main {
  display: block;
}

#service-1:checked + .service-main:after,
#service-2:checked + .service-main:after,
#service-3:checked + .service-main:after {
  content: "";
  position: absolute;
  display: block;
  width: 550px;
  height: 285px;
  top: -1px;
  left: 100px;
  z-index: 10;
}

.service-main p,
.service-main h3,
.service-main a {
  position: absolute;
  z-index: 30;
}

.service-main h3 {
  top: -6px;
  font-size: 36px;
  outline: 1px solid red;
}

.service-main p {
  top: 46px;
  width: 380px;
  line-height: 24px;
}

.service-main .btn {
  top: 134px;
  width: 195px;
}


/* about */

.about-index  {
  float: left;
  width: 580px;
}

.contact-index  {
  float: right;
  width: 300px;
}

.about-index h2,
.contact-index h2 {
  font-size: 30px;
  margin: 25px 0;
}

.about-index p,
.contact-index p {
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
}

.contact-text-for-map {
  min-height: 60px; /*чтобы не съезжала кнопка при увеличении текста текста*/
  width: 200px; /*перенос текста*/
  outline: 1px solid red;
}

.about-index ul {
  padding: 0;
  margin: 0;
}

.about-index li {
  position: relative;
  font-size: 18px;
  margin-left: 35px;
  margin-top: 18px;
  letter-spacing: -0.05em;
}

.about-index li:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 0;
  border-top: 2px solid #ee3643;
  top: 10px;
  left: -35px;
}

.btn-about {
  margin-top: 35px;
  width: 220px;
}

.map-small {
  display: block;
  border: none;
  margin-top: 20px;
}
.btn-contact {
  display: block;
  margin-top: 40px;
  width: auto;
}



/* footer */


footer {
  font-family: "Cuprum", Arial, sans-serif;
}

footer,
footer a {
  color: #ffffff;
  text-decoration: none;
}

footer p {
  margin: 0;
}

/* footer - верхняя часть */
.footer-top {
  background: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.logo-footer {
  display: block;
  width: 220px;
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  padding: 24px 0;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 4px 0 0 #b52933;
}

.footer-top-company {
  float: left;
  width: 326px;
  padding-bottom: 50px;
}

.footer-contact {
  margin-top: 32px;
}

.footer-contact p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-left: 3px;
}

/* footer - навигация */

.footer-nav {
  float: right;
  width: 610px;
  text-align: right;
  padding-top: 21px;
  font-size: 0px;
  color: #ffd180;
}

.footer-nav:first-line {
  color: #ffffff;
}

.footer-nav a {
  text-align: right;
  font-size: 18px;
  margin-left: 59px;
  line-height: 58px;
  color: inherit;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.3;
}


/* footer - нижняя часть */

.footer-bottom {
  padding-top: 37px;
  font-size: 16px;
  padding-bottom: 15px;
  background: #293449;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-copyright
{
  float: left;
  width: 240px;
}

.footer-social {
  float: left;
  width: 200px;
  margin-left: 148px;
  margin-top: -2px;
}

.footer-social a {
  color: #ffffff;
  text-decoration: none;
}

.footer-social a:hover,
.footer-social a:active {
  color: #ffffff;
  text-decoration: none;
  background: #ee3643;
}

.social-btn {
  display: inline-block;
  width: 42px;
  height: 30px;
  border-radius: 50%;
  background: #212a3a;
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
}

.footer-mail-and-copyright {
  float: right;
  width: 300px;
}

.footer-mail {
  float: left;
  width: 160px;
}

.footer-copyright-studio {
  float: right;
  width: 110px;
}

.footer-copyright-studio span {
  display: block;
}


/***********************************************************/
/*                  Всплывающие окна                       */
/***********************************************************/

/*.blured header,
.blured main,
.blured footer {
  -webkit-filter: blur(1px) grayscale(70%);
  }*/

/* карта */

.popup .error {
  box-shadow: 0 0 3px 0 #ff0000;
  border-color: #ee2222;
}

.modal-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup {
  box-sizing: border-box;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 16px 8px rgba(0,0,0,0.5);
  z-index: 80;
}

.bigmap {
  width: 941px;
  height: 447px;
  margin-bottom: 50px;
}

.popup-close {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  z-index: 90;
}

.map-close {
  background: #f7f1d9;
}

.popup-close:before,
.popup-close:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 5px;
  background: #ee3643;
  z-index: 100;
  top: 11px;
  right: -1px;
  border-radius: 1px;
}

.popup-close:hover:before,
.popup-close:hover:after {
  background: #dd2222;
}

.popup-close:before {
  transform: rotate(45deg);
}

.popup-close:after {
  transform: rotate(-45deg);
}

.write-us {
  width: 620px;
  height: 430px;
  background: #ffffff;
  border-top: 8px solid #ee3643;
}

.write-top {
  box-sizing: border-box;
  height: 312px;
  padding: 40px 80px;
  padding-bottom: 0;
}

.write-top > div {
  padding-bottom: 6px;
}

.write-top input,
.write-top textarea {
  box-sizing: border-box;
  display: block;
  padding: 8px 14px;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  background: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.write-top input {
  width: 220px;
}

.write-top textarea {
  resize: none;
}

.write-top label {
  display: block;
  padding-top: 15px;
  padding-bottom: 8px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.write-name {
  float: left;
  width: 220px;
}

.write-email {
  float: right;
  width: 220px;
}

.write-top textarea {
  width: 100%;
  height: 115px;
}

.write-bottom {
  padding: 37px 80px;
  background: #f1f1f1;
}

.write-bottom .btn {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}

/******************************************************
                      графика
******************************************************/


.card-materials {
  background:  #f6b22d url(../img/promo-materials24.png) 88% 52% no-repeat;
}

.card-instruments {
  background: #4aafde url(../img/promo-instruments24.png) 88% 52% no-repeat;
}

.card-technics {
  background: #cc79d1 url(../img/promo-technics24.png)  86% 52%  no-repeat;
}

.card-sales {
background: #85d179 url(../img/promo-sales24.png)  84% 52% no-repeat;
}

.card-delivery {
background: #f6b22d url(../img/promo-delivery24.png)  86% 52% no-repeat;
}

.slider-promo-sl-1 {
  background: #59493a url(../img/slider-1.jpg) 0 0 no-repeat;
}

.slider-promo-sl-2 {
  background: #59493a url(../img/slider-2.jpg) 0 0 no-repeat;
}

#service-1:checked + .service-main:after {
  background: #f2f6f8 url(../img/delivery24.png) 50px 24px no-repeat;
}

#service-2:checked + .service-main:after {
  background: #f2f6f8 url(../img/guarantee24.png) 138px 2px no-repeat;
}

#service-3:checked + .service-main:after {
  background: #f2f6f8 url(../img/credite24.png) 80px 0 no-repeat;
}

.bigmap {
  background: #fffff0 url(../img/map-big2.jpg) 0 0 no-repeat;
}

/******************************************************
                     иконочный шрифт
******************************************************/


[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */


/***********************************************************/
/*                  Каталог                                */
/***********************************************************/

/* хеадер */

a.active {
  background: #ee3643;
}

/* хлебные крошки */

.breadcrumb {
}

.breadcrumb ul {
  margin: 0;
}

.breadcrumb li {
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
  margin-right: 34px;
}

.breadcrumb a {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.breadcrumb .icon-right:before {
  position: absolute;
  left: -30px;
  top: 2px;
  color: #d2d5db;
}

.breadcrumb .icon-home {
  color: #d2d5db;
}

/* каталог - фильтры */

.bg-block {
  background: #f7f3ec;
  border-radius: 3px;
}

.products-sort-box,
.products-sort-box h4 {
  font-family: "PT Sans", Verdana, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.products-sort-header {
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.products-sort-box h4 {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
  padding-bottom: 14px;
}

/* фильтр цен */

.price-filter {
  min-height: 207px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 6px;
}

.range-box {
  position: relative;
  padding: 39px 20px;
  height: 2px;
  background: #f7f3ec;
  border-radius: 0 0 4px 4px;
}

.strip {
  position: relative;
  display: block;
  background: #d7dcde;
  width: 100%;
  height: 2px;
}

.controller {
  position: absolute;
  width: 4px;
  height: 5px;
  background: #ababab;
  border: 7px solid #ffffff;
  box-shadow: 0 2px 2px 0 #ababab;
  border-radius: 50%;
  cursor: pointer;
  top: -9px;
  left: 0px;
  /* начало отсчета 0px
     максимальное значение 162px */
}

.controller-min {
  left: 10px; /* координаты мин ползунка */
}

.controller-max {
  left: 130px;  /* координаты макс ползунка */
}

.strip-active { /* полоска индикатора */
  position: absolute;
  display: block;
  background: #00ca74;
  height: 2px;
  top: 0;
  left: 10px;  /* мин значение индикатора */
  width: 130px;  /* ширина индикатора(макс минус мин координаты) */
}

.price-indicators {
  padding-top: 9px;
  position: relative;
}

.price-indicators input {
  display: block;
  width: 75px;
  height: 36px;
  padding: 0 10px;
  background: #f7f3ec;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 17px;
  color: #000000;
}

.price-min {
  float: left;
  position: relative;
}

.price-max {
  float: right;
}

.price-indicators:before {
  content: "\2014";
  position: absolute;
  display: block;
  top: 40%;
  left: 47%;
  z-index: 50;
  font-size: 17px;
}

/* фильтр производителей */

.products-sort-box label {
  display: block;
  position: relative;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  margin-left: 34px;
  margin-bottom: 20px;
  cursor: pointer;
}

.products-sort-box label:before {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: -33px;
  top: 0;
  font-size: 28px;
  font-family: "symbols-technomart";
  color: #c1c1c1;
  z-index: 10;
}

.products-checkbox + label:before {
  content: "\2610";
}

.products-checkbox:checked + label:before {
  content: "\2611";
}

.products-radio + label:before {
  content: "\25cb";
}

.products-radio:checked + label:before {
  content: "\25cf";
}

.products-sort-box label:hover:before {
  color: #b5b5b5;
}

input:disabled + label,
input:disabled + label:before,
input:disabled + label:hover,
input:disabled + label:hover:before {
  color: #e9e9e9;
}

.products-filter {
  border-bottom: 1px solid #e5e5e5;
/*  background: rgba(200,100,100,0.3);*/
}

.power-filter {
  padding-top: 9px;
}

.power-filter label {
    font-size: 14px;
    margin-top: -2px;
    margin-bottom: 22px;
}

.products-filter-submit {
  box-sizing: border-box;
  width: 140px;
  height: 38px;
  cursor: pointer;
  font-size: 13px;
  line-height: 10px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  background: transparent;
  border-radius: 4px;
  padding: 13px 38px;
  padding-top: 15px;
  letter-spacing: 0em;
  margin-top: 56px;
  outline: none;
}

/* сортировка, верхнее меню*/

.sort-toolbar {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 0;
  border-radius: 4px;
  background: #f7f3ec;
  margin-bottom: 20px;
}

.sort-toolbar a {
  text-decoration: none;
  color: #c6c2bd;
}

.sort-toolbar .by-active {
  color: #ee3643;
}

.sort-by {
outline: 1px solid red;

}

.sort-header {
  float: left;
  padding: 0;
  padding-left: 18px;
  width: 185px;
}

.sort-main {
  float: left;
  padding: 0;
}

.sort-main a {
  display: block;
  float: left;
  line-height: 13px;
  margin: 2px 34px;
  padding-bottom: 0;
  border-bottom: 1px dotted #ee3643;
}

.sort-main .by-active {
  border-bottom: none;
}

.sort-direction {
  float: right;
  min-width: 68px;
  padding: 0;
}

.sort-direction a {
  display: block;
  float: right;
  padding: 0 7px;
  margin-right: 7px;
}



/*card-*/


/* pages */

.pages {
  margin-bottom: 33px;
}

.pages a {
  display: block;
  float: left;
  padding: 9px 14.5px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 28px 10px;
  margin-left: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.pages a:hover {
  border: 1px solid #bdc6ca;
}

.pages a:active {
  border: 1px solid #ee3643;

}

a.page-next {
    padding: 9px 30px;
}

.pages a.current,
.pages a.current:hover  {
  color: #ffffff;
  background: #ee3643;
  border: 1px solid #ee3643;
}

/* additional */

.additional {
 padding-top: 38px;
 padding-bottom: 53px;
 background: #f2f6f8;
}

.additional h2 {
  font-size: 30px;
  line-height: 130%;
  margin: 23px 0;
}

.additional p {
  line-height: 24px;
}

