
/******************************************************
              Общие установки и подсветка
******************************************************/

/* подсветка */
/*
body > *, body > * > *, body > * > * >*, body > * > * >* > * {
  background: rgba(200,200,10,0.2);
}
*/
.outline {
  background: rgba(200,100,10,0.2);
  outline: 1px solid red;
}

/* подключение шрифтов */

/* Шрифт Cuprum*/
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic);
/* Шрифт PT Sans*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700,400&subset=latin,cyrillic);

/* общие */

body {
  font-family: "PT Sans", Verdana, sans-serif;
  line-height: 140%;
  font-size: 13px;
  color: #000000;
  background: url(../img/technomart-index.jpg) 50% 0 no-repeat;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #32425c;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.btn {
  box-sizing: border-box;
  display: table;
  padding: 10px;
  background: #ee3643;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family:  "Cuprum", Arial, sans-serif;
  font-size: 14px;
}

.new span.new-label {
  position: absolute;
  display: table;
  font-size: 13px;
  top: 5px;
  right: -30px;
  padding: 5px 40px;
  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg);
}

h2 {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0;
}

/* reset */

div, nav, section,
p, ul,
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
/* не понимаю, чем normalize.css лучше чем reset.css,
все равно приходиться обнулять свойства */

/******************************************************
                         сетки
******************************************************/

/* общие */

.container {
  box-sizing: border-box;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

/* header */

.header-bottom-part {
  padding-top: 46px;
  min-height: 232px;
}

.header-center {

  min-height: 90px;
}

.nav-header-main {
  margin-top: 22px;
}

.nav-header-main ul {
  min-height: 60px;
}

/* main */

.promo {
  margin-top: 59px;
  min-height: 409px;  /* можно удалить после разметки внутренних блоков*/
}

.promo-left {
  float: left;
  width: 620px;
}

.promo-right  {
  float: right;
  width: 300px;
}

.popular-products {
  margin-top: 53px;
}

.popular-brands {
  margin-top: 21px;
}

.service {
 margin-top: 64px;
 padding-top: 70px;
 padding-bottom: 102px;
 background: #f2f6f8;
}

.about {
  min-height: 534px;  /* можно удалить после разметки внутренних блоков*/
  padding-top: 80px;
}

.footer-bottom {
    padding-top: 36px;
}



/******************************************************
          внутреннее расположение блоков
******************************************************/

/* header - верхняя строка */

.header-main {
/*  background: #f2f6f8;*/
}

.logo-main {
  float: left;
}

.header-top-menu,
.header-top-menu a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
/*  background: #293449;*/
}

.logo-main a {
  display: block;
  font-size: 24px;
  width: 220px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 2px;
  box-shadow: 0 4px 0 0 #b52933;
}

.header-order a {
  display: inline-block;
  width: 120px;
  height: 41px;
  padding-left: 30px;
}

a.btn-for-order-header {
  width: 150px;
  padding: 0;
}

.header-search {
  float: left;
  margin-left: 50px;
  line-height: 32px;
}

.header-search input {
  width: 160px;
  height: 26px;
  margin-top: 5px;
  color: #ffffff;
  border: none;
  background: transparent;
}

.header-order {
  float: right;
}

/* header - tagline */

.header-tagline {
  float: left;
  width: 220px;
  padding-top: 3px;
  margin-left: 51px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  text-transform: none;
}

.header-contact {
  float: left;
  margin-left: 50px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
}


.header-tel {
  width: 248px;
  color: #e9292a;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  padding: 10px 0;
  padding-left: 17px;
}

.header-adress {
  margin-top: 9px;
  font-size: 14px;
}

.header-account {
  float: right;
}

.btn-enter,
.btn-registration {
  box-sizing: border-box;
  display: inline-block;
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  padding: 13px;
  text-decoration: none;
  text-align: center;
}

.btn-enter {
  width: 122px;
  padding-left: 30px;
  margin-right: 5px;
}

.btn-registration {
  width: 150px;
}


/* header - навигация */

.nav-item {
  float: left;
  min-width: 100px;
}

.nav-header-main {
  text-align: center;
}

.nav-header-main ul {
  display: inline-block;
  vertical-align: top;
}

.nav-item a {
  box-sizing: border-box;
  display: block;
  padding: 18px 30px;
  padding-bottom: 17px;
  background: #32425c;
  border-bottom: 5px solid #293449;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
}

.nav-item:first-child a {
  padding-left: 56px;
}

.nav-item:last-child a {
  padding-right: 56px;
}

/* main - promo */

.section-card {
  box-sizing: border-box;
  position: relative;
  width: 300px;
  height: 123px;
  padding: 27px 22px;
  margin-bottom: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  overflow: hidden;
}

.section-card .new-label {
  display: none;
}

.card-name {
  font-weight: bold;
  font-size: 24px;
}

.card-btn {
  width: 135px;
  margin-top: 15px;
  padding: 10px;
  margin-left: 2px;
}

.promo-left .section-card:first-child {
  float: left;
}

.promo-left .section-card:nth-child(2) {
  float: right;
}

.promo-right .section-card:last-child {
  margin-bottom: 0;
}

/* main - slider */

.slider-promo-box {
  position: relative;
  clear: both;
  width: 621px;
  height: 266px;
}

.slider-promo-label,
.slider-promo-indicator {
  position: absolute;
  z-index: 30;
}

.slider-promo-label:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  z-index: 20;
}

.promo-label-left:before {
  transform: rotate(-45deg);
  top: 15px;
  left: 28px;
}

.promo-label-right:before {
  transform: rotate(135deg);
  top: 15px;
  right: 26px;
}

.slider-promo-sl {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 266px;
  padding: 32px 25px;
}

.slider-promo-sl-1 {
  position: absolute;
  z-index: 10;
}

#slider-promo:checked + .slider-promo-inner > .slider-promo-sl-1 {
  display: none;
}

.slider-btn {
  position: absolute;
  width: 195px;
  bottom: 22px;
  left: 25px;
  z-index: 30;
}

.slider-promo-label {
  width: 100px;
  height: 58px;
  top: 105px;
}

.promo-label-right {
  right: 0px;
}

.slider-promo-indicator {
  bottom: 36px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: #ee3643;
}

.promo-indicator-1 {
  left: 295px;
}

.promo-indicator-2 {
  left: 315px;
}

#slider-promo:checked + .slider-promo-inner >  .promo-indicator-2,
#slider-promo + .slider-promo-inner >  .promo-indicator-1 {
    background: #ee3643;
}

#slider-promo:checked + .slider-promo-inner >  .promo-indicator-1,
#slider-promo + .slider-promo-inner >  .promo-indicator-2 {
    background: #ffffff;
}

/* main - popular */

.popular-top {
  /*min-height: 89px;*/
  margin-bottom: 21px;
  padding: 25px 25px;
}

.popular-top h2 {
  font-size: 30px;
  float: left;
  padding-top: 10px;
}

.btn-more {
  float: right;
  width: 253px;
}


.product-card {
  box-sizing: border-box;
  position: relative;
  float: left;
  display: block;
  vertical-align: top;
  width: 219px;
  min-height: 318px;
  margin-right: 21px;
  padding-top: 180px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.product-card:last-child {
  float: right;
  margin-right: 0;
}

.product-card .product-name,
.product-old-price {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.product-old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.product-new-price {
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 122px;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.08em;
  font-weight: bold;
  padding-left: 20px;
}

.product-new-price:after {
  content: "";
  position: absolute;
  right: -19px;
  top: 0;
  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
  border-right: none;
}

.product-card .new-label {
  display: none;
}

.btns-card {
  display: none;
  position: absolute;
  top: 43px;
  width: 100%;
  text-align: center;
}

.btns-card .btn-card-bookmarks,
.btns-card .btn-card-bay {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 8px;
  width: 135px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.btns-card .btn-card-bay {
  background: #63a63e;
  border-bottom: 4px solid #367315;
  padding-top: 10px;
}

.btns-card .btn-card-bookmarks {
  background: #ffffff;
  border: 3px solid #63a63e;
  color: #32425c;
  padding-top: 7px;
}

.product-card:hover > .btns-card {
  display: block;
}

.product-card:hover > .product-img {
  display: none;
}


/* main - brands */

.brand-card {
}

.brand-link {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  height: 144px;
  margin-bottom: 20px;
  margin-right: 16px;
/*  background: #ffffff;*/
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 140px;
}

.brand-link:nth-child(4n) {
  margin-right: 0;
}

.brand-link img {
  vertical-align: middle;
}

/* services  */

.service-top {
  margin-bottom: 70px;
}

.service-top h2 {
  font-size: 30px;
  margin-bottom: 32px;
}

.service-top p {
  line-height: 24px;
}

.service-menu {
  float: left;
  width: 235px;
  height: 183px;
}

.service-label {
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: -235px;
  padding-left: 23px;
  width: 235px;
  height: 61px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  line-height: 55px;
  vertical-align: middle;
  font-size: 21px;
  color: #ffffff;
}

.service-label-1 {
  top: 0;
}

.service-label-2 {
  top: 61px;
}

.service-label-3 {
  top: 122px;
}

#service-1:checked ~ .service-label-1,
#service-2:checked ~ .service-label-2,
#service-3:checked ~ .service-label-3 {
  background: #ffffff;
  color: #000000;
  border: none;
}

.service-display {
  float: left;
  width: 600px;
  padding-left: 86px;
  position: relative;
}

.service-display:before  {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 280px;
  top: -50px;
  left: 0;
  background: #f2f6f8;
  z-index: 60;
}

.service-display:after  {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 260px;
  top: -40px;
  left: 0;
  border-radius: 50%;
  z-index: 50;
  box-shadow: 3px 0 20px 0 #000000;
}

.service-main {
  display: none;
  position: relative;
}

#service-1:checked + .service-main,
#service-2:checked + .service-main,
#service-3:checked + .service-main {
  display: block;
}

#service-1:checked + .service-main:after,
#service-2:checked + .service-main:after,
#service-3:checked + .service-main:after {
  content: "";
  position: absolute;
  display: block;
  width: 550px;
  height: 285px;
  top: -1px;
  left: 100px;
  z-index: 10;
}

.service-main p,
.service-main h3,
.service-main a {
  position: absolute;
  z-index: 30;
}

.service-main h3 {
  top: 6px;
  font-size: 36px;
}

.service-main p {
  top: 59px;
  width: 380px;
  line-height: 24px;
}

.service-main .btn {
  top: 134px;
  width: 195px;
}


/* about */

.about-index  {
  float: left;
  width: 580px;
}

.contact-index  {
  float: right;
  width: 300px;
}

.about-index h2,
.contact-index h2 {
  font-size: 30px;
  padding-top: 2px;
  margin-bottom: 32px;
}

.about-index p,
.contact-index p {
  line-height: 24px;
  margin-bottom: 24px;
  /*  letter-spacing: 0.01em;*/
}

.about-index ul {
  margin-top: -2px;
}

.about-index li {
  position: relative;
  font-size: 18px;
  margin-left: 35px;
  margin-bottom: 22px;
  letter-spacing: -0.05em;
}

.about-index li:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 0;
  border-top: 2px solid #ee3643;
  top: 9px;
  left: -35px;
}

.btn-about {
  margin-top: 38px;
  width: 220px;
}

.map-small {
  display: block;
  border: none;
  margin-top: 56px;
}
.btn-contact {
  display: block;
  margin-top: 40px;
  width: auto;
}

/* в footer */

.footer-top-company {
  float: left;
  min-width: 340px;
}

.footer-top-nav {
  float: right;
  min-width: 560px;
}

.nav-footer-top li,
.nav-footer-bottom li {
  width: 120px;
  float: right;
  text-align: right;
}

.footer-contact {
  width: auto;
  clear: both;
}

.logo-footer,
.nav-footer-top,
.footer-contact,
.nav-footer-bottom {
  min-height: 96px;
}

.footer-copyright
{
  float: left;
  min-width: 240px;
}

.footer-social {
  float: left;
  min-width: 100px;
  margin-left: 150px;
}

.footer-mail-and-copyright {
  float: right;
  min-width: 300px;
}

.footer-mail {
  float: left;
  min-width: 160px;
}

.footer-copyright-studio {
  float: right;
  min-width: 110px;
}



/******************************************************
               шрифты и оформление
******************************************************/

/* общие */




/* header */




/* slider */

.slider-promo-sl h4 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 12px;
}

.slider-promo-sl p {
  font-size: 18px;
  color: #ffffff;
}

/*  popular */







/******************************************************
                      графика
******************************************************/

/*
.card-materials {
  background:  #f6b22d url(../img/promo-materials24.png) 88% 52% no-repeat;
}

.card-instruments {
  background: #4aafde url(../img/promo-instruments24.png) 88% 52% no-repeat;
}

.card-technics {
  background: #cc79d1 url(../img/promo-technics24.png)  86% 52%  no-repeat;
}

.card-sales {
background: #85d179 url(../img/promo-sales24.png)  84% 52% no-repeat;
}

.card-delivery {
background: #f6b22d url(../img/promo-delivery24.png)  86% 52% no-repeat;
}
*/
.slider-promo-sl-1 {
  background: #59493a url(../img/slider-1.jpg) 0 0 no-repeat;
}

.slider-promo-sl-2 {
  background: #59493a url(../img/slider-2.jpg) 0 0 no-repeat;
}

.product-card img {
    position: absolute;
    top:0;
    left: auto; right: auto;
    z-index: -10;
}

.product-card img:hover {
  display: none;
}

#service-1:checked + .service-main:after {
  background: #f2f6f8 url(../img/delivery24.png) 50px 24px no-repeat;
}

#service-2:checked + .service-main:after {
  background: #f2f6f8 url(../img/guarantee24.png) 138px 2px no-repeat;
}

#service-3:checked + .service-main:after {
  background: #f2f6f8 url(../img/credite24.png) 80px 0 no-repeat;
}
